$base-color: #0BA7FF;
$base-color-darken: #6C63FF;
$base-color-marker: rgba($base-color, 0.28);

$secundary-color: #DDFF7C;
$secundary-color-marker: rgba(#DDFF7C, 0.28);

$complementar-color: #313131;