.main {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 0 2rem;
  box-sizing: border-box;
  height: 100vh;
}

.section__hello {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 48px);
}

.hello__image {
  width: 50%;
  height: 100%;
  background-image: url('./../img/ola.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hello__paragraphs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.paragraph__heading {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.paragraph__text {
  font-size: 2rem;
}

.section__skills {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $base-color;
}

.section__skills:before {
  content: '';
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
  top: calc(0px - 75px);
  left: 0;
  background-image: linear-gradient(-5deg, $base-color, $base-color 50%, white 50%, white);
}
.section__skills:after {

}

.skills__tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 8rem 0;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.skills__tabList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills__image {
  width: 50%;
  height: 100%;
  background-image: url('./../img/skills.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.skills__tabItem {
  margin-top: 1rem;
  width: 90%;
}

.skill__skill {
  margin-bottom: 1.2rem;
}

.skills__title {

}

.skill__list {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skill__listItem {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.skill__listItem--active {
  background-color: purple;
}
