.header {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:$complementar-color;
}

.header__title {
  flex: 2;
  font-size: 1.5rem;
  font-family: "Roboto Slab";
}

.navigation {
  flex: 1;
}

.navigation__list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navigation__link {
  text-decoration: none;
  color: white;
}