@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

.container {
  padding: 0 1rem;
}

.section__image {
  width: 100%;
}

.subtitle {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-size: 1.5rem; 
  margin: 1rem 0; 
  font-weight: 800;
}