.main {
  display: flex;
  flex-direction: column;
  padding:0 1rem;
}

.section__hello {
 width: 100%;
 height: 92vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}

.hello__image {
  width: 100%;
}

.hello__paragraphs {
  display: block;
  font-family: 'Roboto Slab', sans-serif;
}

.paragraph__heading {
  display: block;
  color:#313131;
  font-size: 3rem;
}

.paragraph__text {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
}