.marker{
  display: inline-block;
  width: 110%;
  padding: .3rem .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.marker--primary {
  background-color: $base-color-marker;
}

.marker--secundary {
  background-color: $secundary-color-marker;
}

