.marker{
  display: inline-block;
  padding: .3rem .3rem;
  border-radius: 5px;
}

.marker--primary {
  background-color: $base-color-marker;
}

.marker--secundary {
  background-color: $secundary-color-marker;
}

